<h2><%= @product.name %></h2>
<p><%= @product.price %></p>
<p><%= @product.description %></p>
<div>
  <a href="/products/<%= @product.id %>/edit">Edit this product</a>
</div>
<div>
  <%= link_to "Delete this product", "/products/#{@product.id}", method: :delete %>
</div>